:host {
  background-image: url(map.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 60%;
}

.card-style {
  margin: 5% auto;
  width: 50%;
}

* {
  font-family: 'Kreon';
  font-size: 1.5rem;

}

.row:hover {
  background-color: lightgrey;
}

.row {
  text-align: left;
  margin: 1% 0 !important;

}

.col {
  width: 50%;

}

@media only screen and (max-width: 1060px) {
  :host {
    background-size: 100% 50%;
  }
}

@media only screen and (max-width: 950px) {
  .card-style {
    width: 59%;
  }

  :host {
    background-size: 100% 40%;
  }
}

@media only screen and (max-width: 730px) {
  * {
    font-size: 1.3rem;
  }

  .card-style {
    width: 70%;
  }

  :host {
    background-size: 100% 35%;
  }
}


@media only screen and (max-width: 580px) {
  .card-style {
    width: 85%;
  }
}

@media only screen and (max-width: 460px) {
  * {
    font-size: 1rem;
  }

  .card-style {
    width: 95%;
  }
}

@media only screen and (max-width: 360px) {
  .card-style {
    width: 100%;
  }
}
