.card-style{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;

}
*{
    font-family: 'Kreon';
    font-size: 1.5rem;
    
}

.row:hover{
    background-color: lightgrey;
}
.row{
    text-align: left;
    margin-right: 0!important;
    margin-left: 0!important;
 margin-top: 2%;
   
}
.col{
    width: 50%;

}