.style-card {
  width: 280px;
  height: 183px;
}

.style-row {
  margin-left: 0;
  margin-right: 0;
  justify-content: space-around;
}

.row-margin {
  margin-right: 0;
  margin-left: 0;
}

.col {
  flex-grow: 0 !important;
  padding-top: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: blanchedalmond;
}

.col:hover .overlay {
  opacity: 0.8;
}

.card-img-top {
  height: 183px;
}

h3,
p {
  font-family: stylish;
  text-align: center;
}

p {
  line-height: 95%;
  font-size: 1.3em;
}

button {
  position: relative;
  left: 30%;
}

.card-background {
  background-size: cover;
  background-position: center;
}

.card {
  border: none !important;
}
